# Module 0
- Foundational Python refresher...

#### For each of the following expressions, indicate the type of the expression. 
*While you could simply type these expressions into your shell, we encourage you to answer them directly since this will help reinforce your understanding of basic Python expressions.*

In [0]:
# 3.14
# Select an option NoneType int float bool
float

In [0]:
# -34
# Select an option NoneType int float bool
int

In [0]:
# True
# Select an option NoneType int float bool
bool

In [0]:
# None
# Select an option NoneType int float bool
NoneType

In [0]:
# 3.0
# Select an option NoneType int float bool
float

#### Conditional Statement Revisited

- 3 > 4

- 4.0 > 3.999

- 4 > 4

- 4 > + 4

- 2 + 2 == 4

- True and False

- False or False

- not False

- (3.0 - 1.0) != (5.0 - 3.0)

- 3 > 4 or (2 < 3 and 9 > 10)

- 4 > 5 or 3 < 4 and 9 > 8

- not(4 > 3 and 100 > 6)

In [0]:
# Write the answers below

In [0]:
# 3 > 4 False

4.0 > 3.999 True

4 > 4 False

4 > + 4 False

2 + 2 == 4 True

True and False False

False or False False

not False True

(3.0 - 1.0) != (5.0 - 3.0) False

3 > 4 or (2 < 3 and 9 > 10) False

4 > 5 or 3 < 4 and 9 > 8 False

not(4 > 3 and 100 > 6) False

#### ASSIGNMENT VS Conditionals

Ouput ??
```
a = 5
a == 5.0
a
```

In [0]:
5

Ouput ??
```
b = 10
c = b > 9
c
```

In [0]:
True

#### Advanced String manipulations Revisited

```
- "a" + "bc"

- 3 * "bc"

- "3" * "bc"

- "Abcd"[2]

- "Abcd"[0:2]

- "Abcd"[ :2 ]

- "Abcd"[2:]
```

In [0]:
abc
bcbcbc
Error
c
Abc
Ab
cd

#### More on strings & slicing..

```
str1 = 'hello'
str2 = ','
str3 = 'world'
```

Part 1 - Answer the following

```
- str1[0]

- Str1[1]

- str1[-1]

- len(str1)

- str1[ len(str1)-1 ]

- str1[-1 : len(str1)-1 ]

- str1 + str2 + str3

- str1 + str2 + ' ' + str3

- str3 * 3

- 'hello' == str1

- 'HELLO' == str1

- 'a' in str3
```

In [0]:
h
NameError
o
5
o
""
hello,world
hello, worl
worldworldworld
True
False
False

Part 2 - Answer the following

```
- str4 = 'helloworld'

- 'low' in str4

- str3[1:3]

- str3[:3]

- [str3:-1]

- str1[1:]

- str4[1:9]

- str4[9:1:2] 

- Str4[::-1]
```

In [0]:
True
orl
ld
Invalid syntax
ello
elloworl
Invalid syntax

#### Conditionals

Ouput ??

```
if 6 > 7:
   print("Yep")
```

In [0]:
""

Ouput ??
```
if 6 > 7:
   print("Yep")
else:
   print("Nope")
```

In [0]:
Nope

Ouput ??
```
var = 'Panda'
if var == "panda":
   print("Cute!")
elif var == "Panda":
   print("Regal!")
else:
   print("Ugly...")
```

In [0]:
Regal!

Ouput ??
```
temp = 120
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable") 
else:
   print("Cold")
```

In [0]:
Hot

Output ??
```
temp = 50
if temp > 85:
   print("Hot")
elif temp > 100:
   print("REALLY HOT!")
elif temp > 60:
   print("Comfortable")
else:
   print("Cold")

```

In [0]:
Cold

#### TELL ME THE OUTPUT OF THE FOLLOWING PROGRAM

Output ??
```
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

```

In [0]:
5
4

Output ??
```
num = 0
while num <= 5:
    print(num)
    num += 1

print("Outside of loop")
print(num)

```

In [0]:
0
Outside of loop
1

Output ??
```
numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 6:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
print("Number of apples: " + str(numberOfApples))
```

In [0]:
Infinite loop

Output ??
```
num = 10
while num > 3:
   print(num)
   num -= 1

```

In [0]:
10
9
8
7
6
5
4

Output ??
```
num = 10
while True:
    if num < 7:
        print('Breaking out of loop')
        break
    print(num)
    num -= 1
print('Outside of loop')
```

In [0]:
10
9
8
7
Breaking out of loop
Outside of loop

Output ??
```
num = 100
while not False:
    if num < 0:
        Break
print('num is: ' + str(num))
```

In [0]:
Infinite loop since num > 0

#### WHILE LOOPS

```
Using while loops to write calculate the sum of first N numbers
Input = 10
Output = 1+2+3+4+5+6+7+8+9+10 = 55
```

In [1]:
n = int(input("Input = "))
count,sum= 0,0

line = "Output = "
while (count < n):
    count += 1
    line += str(count)
    if (count != n):
        line += "+"
    else:
        line += " ="
    
    sum += count

line = line + " " + str(sum) 
print(line)

Input = 10
Output = 1+2+3+4+5+6+7+8+9+10 = 55

1. Convert the following into code that uses a while loop.
```
print 2
prints 4
prints 6
prints 8
prints 10
prints Goodbye!
```

In [36]:
count = 0

while count < 10:
    count += 2
    print(f"prints {count}")
print("Goodbye!")

prints 2
prints 4
prints 6
prints 8
prints 10
Goodbye!

2. Convert the following into code that uses a while loop.
```
prints Hello!
prints 10
prints 8
prints 6
prints 4
prints 2
```

In [39]:
count = 10
print("prints Hello!")
while count > 0:
    print(f"prints {count}")
    count -= 2

prints Hello!
prints 10
prints 8
prints 6
prints 4
prints 2

#### USE For Loops to do the same .

**Refer to previous exercise**

#### Guess the output of for loops

1. 
```python
num = 10
for num in range(5):
    print(num)
print(num)
```
--- 

2. 
```python
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```python
for variable in range(20):
    if variable % 4 == 0:
        print(variable)
    if variable % 16 == 0:
        print('Foo!')
```
---

4. 
```python
for letter in 'hola':
    print(letter) 
```
---

5. 
```python
count = 0
for letter in 'Snow!':
    print('Letter # ' + str(count) + ' is ' + str(letter))
    count += 1
    break
print(count)
```

In [0]:
#1 
0 
1
2
3
4
4

#2
0.0
1.0
2.0
3.0
4.0

#3
0
Foo!
4
8
12
16
Foo!

#4
h
o
l
a

#5
Letter # 0 is S
1

#### Python dict


Given the following code...

```python
animals = {
            'a': 'aardvark',
            'b': 'baboon',
            'c': 'coati'
          }

animals['d'] = 'donkey'
animals['b'] = 'donkey'

```

#### Guess the output with respect to the given dict..

1. 
```
animals
```
--- 

2. 
```
divisor = 2
for num in range(0, 10, 2):
    print(num/divisor)
```
---

3. 
```
animals['donkey'] 
```
---

4. 
```
len(animals)
```
---

5. 
```
animals['a'] = 'anteater'
```
---

6. 
```
len(animals['a'])
```
---

7. 
```
'baboon' in animals 
```
---

8. 
```
 'donkey' in animals.values()
```
---

9. 
```
'b' in animals 
```
---
10. 
```
animals.keys()
```
---
11. 
```
del animals['b']
len(animals)
animals
```
---
12. 
```
animals.values()
```

In [40]:
## Outputs...
#1
{'a': 'aardvark', 'b': 'donkey', 'c': 'coati', 'd': 'donkey'}

#2 
0.0
1.0
2.0
3.0
4.0

#3 Error

#4 4

#5

#6
8

#7 False

#8 True

#9 True

#10 dict_keys(['a', 'b', 'c', 'd'])

#11 
3
{'a': 'aardvark', 'c': 'coati', 'd': 'donkey'}

#12 dict_values(['aardvark', 'coati', 'donkey'])

4.0

#### Tuples...

Assume we've made the following assignment:

```python
x = (1, 2, (3, 'John', 4), 'Hi')
```


Ouput ???

- x[0] = 1
---
- x[2] = 3, 'John'
---

- x[-1] 'Hi'
---

- x[2][2] 4
---

- x[2][-1] 4
---

- x[-1][-1] i
---

- x[-1][2] Error
---

- x[0:1] 1
---

- x[0:-1] 
(1, 2, (3, 'John', 4))
---

- len(x)
4
---

- 2 in x
True
---

- 3 in x
False
---

- x[0] = 8
Error
---
```

## Code Snip

### Code Snippets 01

- Write a piece of Python code that evaluates varA and varB, and then prints out one of the following messages:

1. "string involved" if either varA or varB are strings
2. "bigger" if varA is larger than varB
3. "equal" if varA is equal to varB
4."smaller" if varA is smaller than varB

In [20]:
try:    
    varA = int(input("This is for VarA = "))
    varB = int(input("This is for VarB = "))

    if (varA > varB) :
        print("bigger")
    elif (varA < varB):
        print("smaller")
    else: 
        print("equal")

except:
    print("string involved")

This is for VarA = e
string involved

###  Code Snippets 02
- Assume `s` is a string of lower case characters.
- Write a program that counts up the number of vowels contained in the string s. 
- Valid vowels are: 'a', 'e', 'i', 'o', and 'u'. 
- For example, if s = 'azcbobobegghakl', your program should print:
- Number of vowels: 5

In [13]:
s = str(input("Enter a string = "))

count = ["a", "e", "i", "o", "u"]
sum = 0
for run in count:
    sum += s.count(run)
    
print(f"Number of vowels: {sum}")

Enter a string = abcdefghijkl
Number of vowels: 3